{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='images/banner/about-bg.jpg')}}')">
   
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="color: white;">About Us</h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>Established in 2019, Turtar TechnoLabs is the leading IT solutions providing company which excels in working with clients to create successful and profitable B2C and B2B based eCommerce Solutions.</h4><br>
        <p>
We are committed to help clients achieve sustainable growth and create value for their customers. With rich experience of crafting eCommerce solutions for various industries, we empower brands to expand their sales channel and realize their goals.</p><br><br>
<p style="text-align: center;">— CORE VALUES</p>
<p>We support and encourage the thirst for innovative ideas and improve our surroundings to raise the standard of digital commerce. Our client’s growth and success is our top priority, and client satisfaction is the main metric by which we measure our own success.
</p>
       
    </div>
  </div>


{% endblock %}
