{% extends "layout.html" %}
{% block body %}
<div class="banner-area banner-3">
  
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle" style="background-color: #82CAFF;">A Full-stack developer</h5>
                            <!---<h1 >We craft seo and digital markting services</h1>--->
                            <h3 class="banner-title" style="color:white;" >Having a business idea?<br>We have vision to build it!</h3>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->


<!--  ABOUT AREA START  -->
    <section id="intro" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section-heading">
                        <p class="lead">I am creative full-stack developer with expertise to grow any business that need proper guidance and a committed service.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  d-none d-lg-block col-sm-12">
                    <div class="intro-img">
                        <img src="{{url_for('static',filename='images/about/2.png')}}" alt="intro-img" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>01.</span>
                                <h4>Management</h4>
                                <p>Management is the practice of leading the work of a team to achieve goals and meet success criteria at a specified time.The objective of project management is to produce a complete project which complies with the client's objectives.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>02.</span>
                                <h4>Strategy</h4>
                                <p>As the strategy of a firm relates to the firm's aspirations to achieve a desired position in its competitive external environment, the strategy of a project relates to the project's aspirations to achieve a desired position in its competitive stakeholder environment. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>03.</span>
                                <h4>Experience</h4>
                                <p>
                                    Customer experience (CX) is what sets the best companies apart. They understand that great experiences don’t happen by accident. Those experiences require a holistic strategy designed to make customers feel inspired and confident.

                                    </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>04.</span>
                                <h4>Build</h4>
                                <p>With us you get a Stable build, comprehensive development solutions which make apps and websites smart enough to adapt any customization or feature integration with feasiblity. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  ABOUT AREA END  -->



<!--  SERVICE AREA START  -->
<section id="about" class="bg-light">
    <div class="about-bg-img d-none d-lg-block d-md-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-md-8">
                <div class="about-content">
                    <h5 class="subtitle">About us</h5>
                    <h3>We are making beautiful <br>design layout for your business</h3>
                    <p>We craft beautiful website layout from scratch.You need not to worry about site design and other technial issue.We provide these attractive service as a bonus.Let's have a talk together for your next project.</p>

                    <ul class="about-list">
                        <li><i class="icofont icofont-check-circled"></i> Responsive site</li>

                        <li>
                            <i class="icofont icofont-check-circled"> </i> Latest bootstrap 4
                        </li>

                        <li>
                            <i class="icofont icofont-check-circled"> </i> Modern and clean design
                        </li>
                        <li>
                            <i class="icofont icofont-check-circled"> </i> Working contact form
                        </li>
                        <li>
                            <i class="icofont icofont-check-circled"> </i> Premium services and support
                        </li>
                        <li>
                            <i class="icofont icofont-check-circled"></i> Cross browser compatiabilty
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->



<!--  SERVICE PARTNER START  -->
<section id="service-head" class=" bg-feature" style="background-color:#ADD8E6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading text-white" >
                    <h4 class="section-title">Full stack business development solution</h4>
                    <p>Our Full Stack solutions reflect exhaustive knowledge of technologies and complete focus towards attaining organizational goals. Fulfilling customer objectives of enhancing business and increasing throughput work being done accordingly.We ensure adherence to the latest project execution methodologies – DevOps and Agile that guarantee a seamless information flow between stakeholder teams.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->

<!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/007-digital-marketing-3.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Web Development</h4>
                            <p> We have rich and sharp proficiency and<span> extensive experience</span>  building custom e-commerce and intranet experiences using the latest and proven web technologies.<br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box ">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/008-digital-marketing-2.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Web Designing</h4>
                            <p>We design elegant, feature-rich, cost effective,<span> search engine friendly</span> & easy-to-use websites.Creative design that fits mobile devices and Completely customizable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/003-task.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Mobile App Development</h4>
                            <p>Our Mobile Development Service offers<span> high quality mobile apps </span>at cost-effective prices to empower your business for various platforms and reach your target audience at ease</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/010-digital-marketing.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Wordpress</h4>
                            <p>we pride in providing top-notch experience by delivering<span> unmatched WordPress development services</span> to clients across the globe. Our sole focus is on making sure that whatever be your web development requirements, we fulfill it with finesse using WordPress technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/006-analytics.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>SEO optimization</h4>
                            <p>We develop customized strategies for every business we partner with.Optimizing for organic search encompasses a range of SEO techniques, and our SEO marketing agency leverages each one to help your<span> business to grow</span> and thrive among your competitors. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/004-hiring.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>UI/UX</h4>
                            <p> we can work for you to the complete production process,
                            From developing the information architecture to creating the <span>Cross-Platform App UI/UX design </span> services, interaction and UX design, developing prototype designs, creating custom icons.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

    </section>
    <!--  SERVICE AREA END  -->




<!--  BLOG AREA START  -->
    <section id="blog" class="section-padding bg-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 m-auto">
                    <div class="section-heading">
                        <h4 class="section-title">Latest Blog news</h4>
                        <div class="line"></div>
                        <p>Our blog journey may come handy to build a community to make more effective success for business. Latest and trend tricks will help a lot </p>
                    </div>
                </div>
            </div>

        <div class="row">
             {% for post in posts|reverse %}
            <div class="col-lg-4 col-sm-6 col-md-4">
                   
                <div class="blog-block ">
                    {% set fname='images/blogs/' + post.img_file  %}
                     <img src="{{url_for('static',filename=fname)}}" alt="" class="img-fluid">
                        <div class="blog-text">
                            <h6 class="author-name"><span>Posted by</span>Admin</h6>
                            <a href="/post/{{post.slug}}" class="h5 my-2 d-inline-block">
                              {{post.title}}
                            </a>
                            <p>{{post.content[0:113]}}...</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--  BLOG AREA END  -->



    </section>
    <!--  BLOG AREA END  -->






{% endblock %}
