{% extends "layout.html" %}


{% block body %}
<div class="page-banner-area  masthead" id="page-banner" style="height:70vh">
    
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                  <div class="text-white"></div>
                    <!-- <h1 class="text-white">Services</h1> -->
                    <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<section id="service-2" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>01</span>
                    <h4>Best <br>Analytics Audits</h4>
                    <p>Analytics audits used in procedures to identify and assess risk by analyzing data to identify patterns, correlations, and fluctuations from models</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>02</span>
                    <h4>Deep <br>Technical SEO</h4>
                    <p>Digital marketing is a vital business tool for businesses today as it guides them to gain visibility across the search engines, gain them website traffic .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>03</span>
                    <h4>Modern <br>Keyword Analysis</h4>
                    <p>Searchers may use hundreds of different word combinations to describe the same thing, so this tactic omits hundreds of potentially profitable keywords.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE BLOCK2 END  -->

<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="{{url_for('static',filename='images/feature/2-min.jpg')}}" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
               <div class="mb-5">
                    <h3 class="mb-4">We are making beautiful <br>design layout business site</h3>
                    <p>We craft beautiful website layout from scratch.You need not to worry about site design and other technial issue.Let's have a talk together for your next project.</p>
                </div>

                <ul class="about-list">
                    <li> <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Responsive site</h5>
                        <p>The use of mobile devices to surf the web continues to grow at an astronomical pace, and these devices are often constrained by display size and require a different approach to how content is laid out on the screen.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i> Latest bootstrap 4</h5>
                        <p> It is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites. It solves many problems one of which is the cross-browser compatibility issue.<br><br></p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Modern design</h5>
                        <p>Modern UI design helps establish credibility for your website or brand because it has a style that fits what most people to be a current visual aesthetic. This might include visual trends, adapting to usability standards and patterns, and using development techniques that are appropriate for today’s users.</p>
                    </li>
                    <li>
                        <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Working contact form</h5>
                        <p>The contact form is the essential part of any website in the modern era. You can not imagine a business without functioning, customer friendly and dynamic contact form. Customer feedback is the most critical thing of growing up business in the corporate world. If you want to be better, you must listen to your customer. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->


<!--  SERVICE PARTNER START  -->
<section id="service-head" class="service-style-two ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-8 col-sm-12 m-auto ">
                <div class="heading text-white text-center">
                    <h4 class="section-title text-white">Full stack Business development solution</h4>
                    <p>Our Full Stack solutions reflect exhaustive knowledge of technologies and complete focus towards attaining organizational goals. Fulfilling customer objectives of enhancing business and increasing throughput work being done accordingly.We ensure adherence to the latest project execution methodologies – DevOps and Agile that guarantee a seamless information flow between stakeholder teams.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->
<!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/007-digital-marketing-3.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Web Development</h4>
                            <p>
                                We have rich and sharp proficiency and<span> extensive experience</span>  building custom e-commerce and intranet experiences using the latest and proven web technologies.<br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box ">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/008-digital-marketing-2.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Web Designing</h4>
                            <p>We design elegant, feature-rich, cost effective,<span> search engine friendly</span> & easy-to-use websites.Creative design that fits mobile devices and Completely customizable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/003-task.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Mobile App Development</h4>
                            <p>Our Mobile Development Service offers<span> high quality mobile apps </span>at cost-effective prices to empower your business for various platforms and reach your target audience at ease</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/010-digital-marketing.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>Wordpress</h4>
                            <p>we pride in providing top-notch experience by delivering unmatched WordPress development services to clients across the globe. Our sole focus is on making sure that whatever be your web development requirements, we fulfill it with finesse using WordPress technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/006-analytics.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>SEO optimization</h4>
                            <p>We develop customized strategies for every business we partner with.Optimizing for organic search encompasses a range of SEO techniques, and our SEO marketing agency leverages each one to help your<span> business to grow</span> and thrive among your competitors. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{{url_for('static',filename='images/icon/004-hiring.png')}}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>UI/UX</h4>
                            <p> we can work for you to the complete production process,
                            From developing the information architecture to creating the <span>Cross-Platform App UI/UX design </span> services, interaction and UX design, developing prototype designs, creating custom icons.</p>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->

{% endblock %}



